.App {
  text-align: center;
}

header{
  background-color: darkorchid;
  height: 70px;
}

.nav {
  background-color: white;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  line-height: 70px;
  border-radius: 6px;
}


.container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 50vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  text-align: right;
  border-radius: 6px;
  padding: 10px;
  height: 150px;
}

form div {
  margin: 5px;
}

input {
  border-radius: 3px;
  height: 25px;
  border: none;
}