.loading {
  font-weight: bold;
  line-height: 125px;
  font-size: 1.2rem;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 5px;
  max-width: 250px;
}

.success {
  text-align: center;
  line-height: 125px;
  font-size: 1.2rem;
}
